.product-content {
    max-width: 1236px;
    width: 100%;
    margin: auto;
    text-align: center;

}

.product-title-main {
    font-size: 40px;
}

.product-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
}

.product-card {
    text-align: start;
    flex: 0 1 285px;
    min-height: 446px;
    background: #F4F5F7;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.72);
    opacity: 72%;
}

.product-card:hover h3,
.product-card:hover .product-sub-title,
.product-card:hover .price,
.product-card:hover .original-price s {
    color: inherit;
}

.product-card .h3,
.product-card .product-sub-title,
.product-card .price,
.product-card .original-price s {
    display: flex;
    line-height: 2;

}

.product-image {
    position: relative;
}


.discount_percent {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #E97171;
    color: #fff;
    padding: 6px 8px;
    font-size: 1rem;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFFFFF;
    background: #2EC1AC;
    padding: 6px 8px;
    font-size: 1rem;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
    color: #3A3A3A;
    padding-top: 10px;
}

.price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}

.product-title {
    padding-left: 15px;
}

.product-sub-title {
    color: #898989;
    padding-left: 15px;
}

.price-value-discount {
    font-size: 1rem;
    font-weight: bold;
    color: #3A3A3A;
    margin-left: 5px;
}

.price-value-discount {
    color: black;
}

.price {
    font-family: var(--font-family);
    font-weight: var(--font-weight-600);
}

.price-value {
    margin-left: 5px;
}

.original-price {
    color: #B0B0B0;
    text-decoration: line-through;
}

.button-details {
    width: 70%;
    color: #B88E2F;
    background-color: #FFFFFF;
    border: solid 1px #B88E2F;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.hover-actions {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    opacity: 0;
}

.product-card:hover .hover-actions {
    opacity: 1;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    margin-top: 60%;
}

.actions a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0 10px;
}

.actions-icon {
    width: 1rem;
    height: 1rem;
}

.action {
    display: flex;
    align-items: center;
    gap: 3px;
}

.button-details:hover {
    color: #FFFFFF;
    background-color: #B88E2F;
}

.show-more {
    min-width: 245px;
    margin-top: 50px;
    color: #B88E2F;
    background-color: #FFFFFF;
    border: solid 1px #B88E2F;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 5%;
}

.product-card:hover .button-details {
    opacity: 1;
}

.button-details:hover {
    color: #FFFFFF;
    background-color: #B88E2F;
}

.show-more:hover {
    color: #FFFFFF;
    background-color: #B88E2F;
}